.button_wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generate_button {
  width: 150px;
}

.csv_buttons_wrapper {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.csv_buttons_wrapper a {
  width: 190px;
}
